includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./phpstan-baseline.neon
parameters:
    paths:
        - src
    level: 7
    #excludePaths:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
